body {
    margin: 0px;
    text-align:center;
}

#heading {
   text-align:left;
   margin-bottom:100px;
   margin-top:0px;
   background-color:#ABC9FF;
   height:200px;

}

img {
    float:left;
    width:100px;
    height:100px;
    margin-left:10px;
    margin-top:0px;
}

 h1 {
    margin-left:30px;
    margin-top:0px;
    padding-top:30px
 }

#silver {
    color:#178A60;
    text-decoration:underline;
    text-shadow: 2px 2px 4px #000000;
}

#pharmacy {
    color:#4D4FFF;
    text-decoration:underline;
    text-shadow: 2px 2px 4px #000000;
}

#form {
    background-color:lightgray;
    margin-left:200px;
    margin-right:200px;
    border-radius:30px;
    box-shadow: 10px 5px black;
    width:auto;
}

label, input {
    margin-top:50px;
    margin-bottom:30px;
    width:auto;
}

#footer {
    height:200px;
    background-color: #ABC9FF;
    margin-top:50px;
}

h2 {
    text-align:left;
    margin-left:30px;
    padding-top: 30px;
}

h3 {
    color:white;
    margin-left:50px;
    
}

p {
    padding-top:20px;
}

button {
    margin-bottom:20px;
}

#enter {
    font-size:30px;
}

ul {

margin-left:100px;



}

li {
    display:inline;
    
    
    
}

a {
    color:white;
    margin-right:30px;
    font-size:25px;
    padding-bottom:20px;
    text-decoration: none;
}

a:hover {
    background-color: #178A60;
}